.bag-button{
       background-color: lightgreen;
       border: none;
       border-radius: 12px;
       padding:5px 15px ;
}
.wish-button{
       padding: 5px 40px;
       border: 2px solid black;
       border-radius: 10px;
       text-transform: uppercase;
}