  body {
      text-align: center;
      font-family: Arial;
    }

    .choice-button{
       height: 100px;
       width: 100px;
       border: none;
       margin: 10px;
       background-color: aquamarine;
       border-radius: 50px;
       cursor: pointer;

    }
    .choice-button :hover{
      height: 100px;
      width: 100px;
      background-color: red;
      border-radius: 100px;
    }
    .choice-image{
      height: 75px;
    }
    #Game{
      color: brown;
      background-color: aqua;
      height: 100%;
      width: 100%;
      text-align: center;
    }